.section-heading {
    font-size: var(--fs-400);
    font-weight: 800;
    margin-top: 80px;
}

#home {
    z-index: 1;
}

#gallery {
    z-index: 2;
}

#locations {
    z-index: 3;
}

#contact {
    z-index: 4;
}