.section {
    --roundness: 80px;

    width: 100%;
    position: sticky;
    min-height: 100dvh;
    top: calc(-1 * var(--roundness));
    padding-block: var(--roundness);
    overflow: hidden;

    @media (width < 768px) {
        --roundness: 40px
    }
}

.section#home {
    top: 0;
    padding: 0;
}

#home {
    height: calc(20000px + 100vh);
}

#home[data-mobile="true"] {
    height: calc(18000px + 100vh) !important;
}