#header {
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    padding-inline: 2rem;
    padding-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    --bg: rgba(255, 255, 255, 0.11);
    --blur: 4px;
    --border: rgba(255, 255, 255, 0.3);
    --shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 8px 4px rgba(255, 255, 255, 0.1);
    ;

}

#header .logo {
    width: 3rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
    justify-self: flex-start;
    flex-shrink: 0;
    transition: opacity 250ms ease-in-out;
}

#header .logo:hover,
#header .logo:active,
#header .logo:focus {
    opacity: .8;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    width: max-content;
    justify-self: center;
    padding: .4rem;
}

.nav-link {
    padding: .6rem 1.4rem;
    border-radius: 2ex;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 300ms ease-in;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #000000;
    text-shadow: 0 0 20px #23232172;
}

.cta-btn {
    width: fit-content;
    justify-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    padding: .4rem 1.8rem;

    color: #111;
    background: #ffffff;

    border-radius: 4ex;
    position: relative;
    overflow: hidden;

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.35),
        0 0 18px rgba(255, 255, 255, 0.773);

    transition: all 250ms ease-in;
}

.cta-btn:hover,
.cta-btn:active,
.cta-btn:focus {
    background-color: #111;
    color: #fff;
    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.138),
        0 0 18px rgba(0, 0, 0, 0.099);
}

.glass {
    background-color: var(--bg);
    backdrop-filter: blur(var(--blur));
    border-radius: 3ex;
    border: 1px solid var(--border);
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg,
                transparent,
                rgba(255, 255, 255, 0.8),
                transparent);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.8),
                transparent,
                rgba(255, 255, 255, 0.3));
    }
}

@keyframes goldSweep {

    0% {
        left: -120%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    35% {
        left: 120%;
        opacity: 0;
    }

    100% {
        left: 120%;
        opacity: 0;
    }
}