#footer {
    --roundness: 80px;

    width: 100%;
    padding: 2rem 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: var(--roundness) var(--roundness) 0 0;
    z-index: 110;

    @media (width < 768px) {
        --roundness: 40px
    }
}

.footer-email {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
    line-height: 1;
    color: #fff;

    span {
        font-size: 2rem;
    }
}

.footer-socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .footer-social {
        aspect-ratio: 1;
        width: 2rem;
        overflow: hidden;
    }
}

.footer-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}